  body {
    background-color: cadetblue;
    color: black;
  }
  
  #form-layout {
    margin-top: 20px;
    margin-left: 50px;
  }
  .gender {
    display: inline-block;
    margin: 3px;
  }
  
  .buttonstyle {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
  }
  
  .innerbutton {
    margin: 5px;
  }
  
  #table-styles{
    color:black !important;
    border:1px solid white;
  }
  #description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  